.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 397px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 156px 0 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 89px;
    margin-right: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 51px;
    margin-right: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 32px;
    margin-right: 32px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 638px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  margin: 58px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 388px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 10px auto 55px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 61px 5px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  animation-duration: 1000ms;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 71px auto 0 106px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 61px 5px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  animation-duration: 1000ms;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 71px auto 0 106px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 61px 5px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  animation-duration: 1000ms;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 71px auto 0 106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-list-1 {
    min-height: 320px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 55px;
    margin-right: 26px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-right: 91px;
    margin-left: auto;
    padding: 6px 1px 7px 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 55px;
    margin-right: 26px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 32px;
    margin-right: 91px;
    margin-left: auto;
    padding: 6px 1px 7px 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 55px;
    margin-right: 26px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 32px;
    margin-right: 91px;
    margin-left: auto;
    padding: 6px 1px 7px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-2 .u-list-1 {
    min-height: 735px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 33px;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/AP370819017_11375900862.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  margin: 330px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 673px;
}

.u-section-4 .u-image-1 {
  width: 496px;
  height: 632px;
  margin: 21px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 488px;
  height: 632px;
  margin: -632px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 631px;
  }

  .u-section-4 .u-image-2 {
    width: 402px;
    margin-top: -631px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-4 .u-image-2 {
    width: 585px;
    height: 729px;
    margin: 20px auto 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 672px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 433px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 423px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 803px;
}

.u-section-5 .u-gallery-1 {
  height: 773px;
  margin: 0 auto 30px 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-back-slide-4 {
  background-image: none;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c41cfc88-3ef3-11ea-82bb-0eda3a42da3c.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-text-1 {
  margin: 310px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 537px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 228px;
  width: 570px;
  margin: 227px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: -427px 862px 0 22px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: -480px 36px 0 877px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  background-image: none;
  margin: 29px 80px 51px auto;
  padding: 9px 15px 9px 14px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-7 .u-custom-html-1 {
    height: auto;
    margin-top: 347px;
    margin-right: 202px;
    margin-left: 168px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -558px;
    margin-right: 772px;
    margin-left: -27px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -704px;
    margin-right: -13px;
    margin-left: 755px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 91px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-custom-html-1 {
    margin-left: 58px;
    margin-right: 92px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -537px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 444px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 38px;
    margin-right: 280px;
    margin-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: -29px;
    margin-left: 313px;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 24px;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 34px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 709px;
}

.u-section-8 .u-list-1 {
  min-height: 688px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto auto;
  grid-gap: 10px 10px;
  margin: 11px auto 11px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-icon-5 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-icon-6 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-12 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-8 .u-list-1 {
    min-height: 567px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-8 .u-list-1 {
    min-height: 977px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 618px;
}

.u-section-9 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-9 .u-text-1 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-9 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-9 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-9 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/mur_noms_memorial_shoah.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 331px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 61px auto 0;
}

.u-section-11 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 750px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-12 .u-image-1 {
  min-height: 315px;
  background-image: url("images/yadwashem.PNG");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-12 .u-text-3 {
  margin: 0;
}

.u-section-12 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-12 .u-image-2 {
  min-height: 315px;
  background-image: url("images/geneat.PNG");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-1 {
    min-height: 210px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-12 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-12 .u-btn-2 {
    height: 38px;
    width: 99px;
  }

  .u-section-12 .u-image-2 {
    min-height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-image-1 {
    min-height: 315px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-12 .u-image-1 {
    min-height: 213px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-2 {
    min-height: 224px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-image-1 {
    min-height: 315px;
  }

  .u-section-12 .u-image-2 {
    min-height: 315px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 772px;
}

.u-section-13 .u-layout-wrap-1 {
  min-height: 611px;
  margin: 43px auto 60px 0;
}

.u-section-13 .u-image-1 {
  min-height: 574px;
  background-image: url("images/convoi77.PNG");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 287px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-2 {
  margin: 0;
}

.u-section-13 .u-layout-cell-4 {
  min-height: 287px;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-text-3 {
  margin: 0;
}

.u-section-13 .u-layout-cell-5 {
  min-height: 323px;
}

.u-section-13 .u-container-layout-5 {
  padding: 30px;
}

.u-section-13 .u-text-4 {
  margin: 0;
}

.u-section-13 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 43px auto 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 44px;
    min-height: 303px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-1 {
    min-height: 473px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-13 .u-layout-cell-5 {
    min-height: 266px;
  }

  .u-section-13 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-13 .u-image-1 {
    min-height: 725px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-13 .u-layout-wrap-1 {
    min-height: 122px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-1 {
    min-height: 544px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-13 .u-image-1 {
    min-height: 343px;
  }
}